-- vim: set ft=sql:
{#
-- First create a master key in the desitnation database_scoped_credentials, See teampass (only one per DB)
-- CREATE MASTER KEY ENCRYPTION BY PASSWORD = '<***********>';
#}
IF NOT EXISTS(
    SELECT * FROM sys.database_scoped_credentials
    WHERE name = '{{ credential_name }}'
  )
  BEGIN 
    CREATE DATABASE SCOPED CREDENTIAL [{{credential_name}}]
    WITH IDENTITY = '{{ username }}',
    {# SECRET = '{{ "{{" }}ciw_secure.passwords["{{username}}"]{{ "}}" }}'; #}
    SECRET = '{{ password }}';
  END
ELSE
  BEGIN
    -- change password or username
    ALTER DATABASE SCOPED CREDENTIAL [{{credential_name}}]
    WITH IDENTITY = '{{username}}'  ,
    SECRET = '{{ password }}';
  END

